<div class="container">
  <div class="row">
    <div class="col-2">
      <h5>Category</h5>
      @for (item of categoryList$ | async ; track $index) {
        <button class="btn btn-success mt-2" (click)="getProductByCategory(item.categoryId)">{{item.categoryName}}</button>
      }
    </div>
    <div class="col-10">
      <div class="row">
        @for (item of productList(); track $index) {
          <div class="col-3 mt-4">
            <div class="card product-card">
              <img 
                [src]="item.productImageUrl" 
                class="card-img-top product-image" 
                alt="Product Image"
              >
              <span class="category-badge">{{item.categoryName}}</span>
              <div class="card-body">
                  <h5 class="card-title">{{item.productName}}</h5> 
                  <p class="product-price">{{item.productPrice}}</p>
                  <button class="btn add-to-cart-btn">Add to Cart</button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>